:root {
  /* the default base color of the page */
  --color-base: #fff;
  /* the background color of the page */
  --color-background: #fff;

  /* the color with the highest contrast */
  --text-color: #000;
  /* blended color of color base and text color. factor is 30-40% */
  --text-color-light: #666;
  /* the inverted text color */
  --text-inv-color: #fff;

  /* a light color for some light backgrounds */
  --color-light: #ccc;
  /* a medium color for active backgrounds */
  --color-medium: #aaa;
  /* a dark color for backgrounds, shadows and borders */
  --color-dark: #888;
  /* a more darker color for some dark active backgrounds */
  --color-darker: #444;
}
body {
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--text-color);
}
.error-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.error-box .error-entry {
  background-color: var(--color-dark);
  color: var(--text-inv-color);
  padding: 0.5em 0.8em;
  margin: 0.5em;
  box-shadow: 0.2em 0.2em 0.8em var(--color-dark);
  max-width: 100%;
  box-sizing: border-box;
  width: fit-content;
}
.error-box .remove {
  display: float;
  float: right;
  margin: -0.25em -0.5em 0.25em 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.error-box .remove:hover {
  background-color: var(--color-darker);
}
.frame-status-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.frame-status {
  margin: 1em;
  font-size: 2em;
  border: 0.3em solid var(--color-dark);
  border-radius: 0.8em;
  padding: 0.5em 0.8em;
}
.frame-game-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.frame-game-left {
  width: 20em;
  overflow-y: auto;
  height: 100%;
}
.frame-game-body {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-game-body.top {
  align-items: unset;
}

.user-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 1em;
  border: 0.3em solid var(--color-dark);
  padding: 0.5em 0.8em;
  border-radius: 0.8em;
}
.user-image-box {
  padding-right: 0.5em;
}
.user-image img {
  width: 3em;
  height: 3em;
  border-radius: 40%;
  transition: border-radius 0.25s;
}
.user-frame:hover .user-image img {
  border-radius: 0;
}
.user-frame .user-name {
  font-size: 1.2em;
}

.editor {
  width: 35em;
  max-width: 100%;
}
.editor-role-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-light);
  margin: 0.5em 0;
  padding: 0.5em 0.8em;

}
.editor-role-name {
  flex-grow: 1;
  flex-shrink: 1;
}
.editor-role-box input {
  width: 3em;
  font-family: inherit;
  box-sizing: border-box;
}
.editor-role-box .editor-role-count {
  padding-left: 0.5em;
}

.editor-bar-box {
  margin: 4em 1em;
  position: relative;
}
.editor-bar-fill-outer {
  margin: 2em 0;
  position: relative;
  height: 2em;
  background-color: var(--color-dark);
}
.editor-bar-fill-inner {
  position: absolute;
  height: 100%;
  background-color: var(--color-darker);
  transition: width 0.3s;
}
.editor-bar-player-box, .editor-bar-roles-box {
  position: absolute;
  top: 0;
  width: 0;
  transition: left 0.3s;
}
.editor-bar-player-box .line, .editor-bar-roles-box .line {
  position: absolute;
  height: 2.5em;
  bottom: -2em;
  border: 0.1em solid var(--text-color);
  transform: translateX(-50%);
}
.editor-bar-player-box .number, .editor-bar-roles-box .number {
  position: absolute;
  bottom: 0.6em;
  transform: translateX(-50%);
}
.editor-bar-player-box .line {
  bottom: unset;;
  top: 0em;
}
.editor-bar-player-box .number {
  bottom: unset;
  top: 2.6em;
}
.editor-checks label {
  display: block;
}
.editor .start-button {
  margin: 2em 0 0;
  padding: 0.5em 0.8em;
  background-color: var(--color-light);
  cursor: pointer;
  text-align: center;
  font-size: 1.1em;
  border-radius: 0.4em;
}
.editor .start-button.disabled {
  cursor: not-allowed;
}

.phase-header,
.phase-controls {
  border: 0.3em solid var(--color-dark);
  padding: 1.5em;
  width: 50em;
  max-width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
}
.phase-header .title {
  font-size: 2.5em;
  text-align: center;
}
.phase-votings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.voting-box {
  margin: 1em;
  border: 0.3em solid var(--color-dark);
  width: 25em;
  max-width: 100%;
}
.voting-box .voting-header {
  border-bottom: 0.1em solid var(--color-dark);
}
.voting-header .title {
  font-size: 1.5em;
  padding: 0.5em 0.8em;
  text-align: center;
}
.voting-header .status {
  display: flex;
}
.voting-header .status > div {
  flex-grow: 1;
  padding: 0.2em;
  background-color: var(--text-color);
  color: red;
}
.voting-header .can-vote-state {
  text-align: right;
}
.voting-header .started-state.started,
.voting-header .can-vote-state.can-vote {
  color: green;
}
.voting-box .button {
  margin: 0.5em;
  padding: 0.5em 0.8em;
  text-align: center;
  border: 0.1em solid var(--color-dark);
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}
.voting-box .voting-option .bar {
  position: absolute;
  background-color: var(--color-light);
  top: 0;
  left: 0;
  height: 100%;
}
.voting-box .voting-option span {
  position: relative;
}
.voting-box .button:hover,
.voting-options .voted {
  background-color: var(--color-medium);
}
.voting-controls {
  border-top: 0.1em solid var(--color-dark);
}
.phase-controls {
  padding: 0;
  display: flex;
}
.phase-controls .button {
  flex-grow: 1;
  text-align: center;
  padding: 1em 1.5em;
  font-size: 1.3em;
  cursor: pointer;
}
.phase-controls .button:hover {
  background-color: var(--color-medium);
}
